<!-- individual hotel cards, each hotel's date picker for booking -->
{% extends "base.html" %}
{% block hotels %}


<!-- selected hotel card with image & description -->
<div class="card card-common col-4 p-0 mr-1">
    <!-- access individual hotel package -->
    {% for hotel in hotels %}
    <!-- return hotel package that matches the hotel name in panel -->
    {% if panel == hotel.hotel_name %}
    <img class="card-img-top" src="{{ hotel.image_url }}" alt="Hotel Image">
    <div class="card-body">
        <h5 class="card-title">{{ hotel.hotel_name }}</h5>
        <p class="card-text">{{ hotel.description }}</p>
    </div>
    {% endif %}
    {% endfor %}
</div>

<!-- date picker -->
<div class="card card-common col-6 p-0 h-100">
    <div class="card-header">
        <h3>Select This Offer</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">Check_in_date</h5>
        <!-- datepicker -->
        <div class="md-form md-outline input-with-post-icon datepicker mb-3" inline="true">
            <input data-date-format="dd/mm/yyyy" id="datepicker" type="text" style="width:100%; font-size: large;">
        </div>
        <a href="#" class="btn btn-primary">Submit</a>
    </div>
</div>


<!-- datepicker formatting -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script type="text/javascript">
    $('#datepicker').datepicker({
        format: "dd/mm/yyyy",
        autoclose: true,
        todayActive: true,
        orientation: "bottom left",
        showOnFocus: true,
    });
    $('#datepicker').datepicker("setDate", new Date());
</script>

{% endblock %}
