{% extends "base.html" %}
{% block upload %}


<div class="card-header">
    <h2>Upload recordings</h2>
</div>
<div class="card-body">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input name="type" type="hidden" value="upload">
        <div>
            <label for='upload'>Upload CSV file </label>
            <br>
            <label for='upload'>with data type of: </label>
            <select class="form-select" id="datatype" name="datatype" aria-label="Default select example">
                <option value="users">Users</option>
                <option value="staycation">Staycation</option>
                <option value="booking">Booking</option>
            </select>
            <input class="upload" id="upload" name="file" type="file" accept=".csv" required>
        </div>
        <div>
            <input type="submit" value="Upload" type="Upload">
        </div>
    </form>
</div>

{% endblock %}
